<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
    <script th:src="@{/resources/js/registration-page-script.js}"></script>
    <meta charset="utf-8"/>
    <title>User registration page</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/resources/css/main-style.css}">
</head>

<body>
<h2 class="hello-title"></h2>

<!--/*@thymesVar id="userForm" type="com.test.privat.currency.models.dtolayer.wrappers.UserForm"*/-->
<form method="post"
      th:action="@{/register}"
      th:object="${userForm}">

    <h1>Please enter next information</h1>

    <div class="form-group">
        <input type="text" th:field="*{login}" class="form-control" placeholder="login"/>

        <div class="validation-error" th:if="${#fields.hasErrors('login')}">
            <p th:each="err : ${#fields.errors('login')}" th:text="${err}"></p>
        </div>
    </div>

    <div class="form-group">
        <input type="password" th:field="*{password}" class="form-control" placeholder="password"/>

        <div class="validation-error" th:if="${#fields.hasErrors('password')}">
            <p th:each="err : ${#fields.errors('password')}" th:text="${err}"></p>
        </div>
    </div>

    <div class="form-group">
        <input type="password" th:field="*{confirmPassword}" class="form-control" placeholder="confirm password"/>

        <div class="validation-error" th:if="${#fields.hasErrors('confirmPassword')}">
            <p th:each="err : ${#fields.errors('confirmPassword')}" th:text="${err}"></p>
        </div>
    </div>

    <div class="form-group">
        <input type="email" th:field="*{email}" class="form-control" placeholder="email"/>

        <div class="validation-error" th:if="${#fields.hasErrors('email')}">
            <p th:each="err : ${#fields.errors('email')}" th:text="${err}"></p>
        </div>
    </div>

    <div class="form-group">
        <label for="user-currency-select">Currency</label>
        <select th:field="*{currencyKey}" id="user-currency-select" class="form-control">
            <!--/*@thymesVar id="currencies" type="com.test.privat.currency.models.dtolayer.wrappers.CurrencyWrapper"*/-->
            <option th:each="curr : ${currencies}" th:value="${curr.key}" th:text="${curr.key}"></option>
        </select>

        <div class="validation-error" th:if="${#fields.hasErrors('currencyKey')}">
            <p th:each="err : ${#fields.errors('currencyKey')}" th:text="${err}"></p>
        </div>
    </div>

    <input type="submit" class="btn btn-primary" value="Register"/>
</form>

</body>
</html>